<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>{{ item.get_price_in_dollars }}$</p>
    <form action="/buy/{{ item.id }}" method="GET">
        <button type="submit" id="checkout-button">Купить сейчас!</button>
    </form>
    <a href="/">Вернуться на главную</a>
</body>
</html>